{% extends "base.html" %} {% block content %}
<section>
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-7 col-lg-5">
				<div class="login-wrap p-4 p-md-5 bg-light shadow-sm rounded">
					<div
						class="rounded-pill d-flex align-items-center justify-content-center fs-1 mb-3"
					>
						<span class="fa fa-user-o"></span>
					</div>
					<h3 class="text-center mb-4">DigitalWallet</h3>
					{% include "alert.html" %}
					<form method="post">
						{% csrf_token %}
						<div class="form-group mb-4">
							<input
								type="text"
								class="form-control rounded-left"
								placeholder="Email or Username"
								name="login_credential"
								required
							/>
						</div>
						<div class="form-group d-flex mb-4">
							<input
								type="password"
								class="form-control rounded-left"
								placeholder="Password"
								name="password"
								required
							/>
						</div>
						<div class="form-group mb-4">
							<button
								type="submit"
								class="form-control btn btn-primary rounded submit px-3"
							>
								Login
							</button>
						</div>
						<div class="text-center">
							Not a Member yet?
							<a href="{% url 'register' %}">Register</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
