{% extends 'base.html' %} {% block content %}
<h3 class="mb-4">Admin Panel</h3>
<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
	<li class="nav-item" role="presentation">
		<a class="nav-link {% if current_tab == 'transactions' %} active {% endif %}" id="users_transactions-tab" data-bs-toggle="tab" data-bs-target="#users_transactions" type="button" role="tab" aria-controls="users_transactions" aria-selected="true" onclick="changeUrlAndTab('transactions')">Users Transactions</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link {% if current_tab == 'balance' %} active {% endif %}" id="users_balance-tab" data-bs-toggle="tab" data-bs-target="#users_balance" type="button" role="tab" aria-controls="users_balance" aria-selected="false" onclick="changeUrlAndTab('balance')">Users Balance</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link {% if current_tab == 'create_user' %} active {% endif %}" id="create_user-tab" data-bs-toggle="tab" data-bs-target="#create_user" type="button" role="tab" aria-controls="create_user" aria-selected="false" onclick="changeUrlAndTab('create_user')">Create Super User</a>
	</li>
</ul>
{% include 'alert.html' %}

<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade {% if current_tab == 'transactions' %} show active {% endif %}" id="users_transactions" role="tabpanel" aria-labelledby="users_transactions-tab">
		<h5 class="mb-3">Users Transactions ({{transactions|length}})</h5>

		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th class="nowrap">#</th>
					<th class="nowrap">Sender</th>
					<th class="nowrap">Recipient</th>
					<th class="nowrap">Amount</th>
					<th class="nowrap">Payment Type</th>
					<th class="nowrap">Timestamp</th>
				</tr>
			</thead>
			<tbody>
				{% for transaction in transactions %}
				<tr>
					<th>{{ forloop.counter }}</th>
					<td>
						{{ transaction.sender.username }}
						<!--  -->
						{% if transaction.sender.is_superuser %}
						<span>(admin)</span>
						{% endif %}
					</td>
					<td>
						{{ transaction.receiver.username }}
						<!--  -->
						{% if transaction.receiver.is_superuser %}
						<span>(admin)</span>
						{% endif %}
					</td>
					<td>
                        {% if transaction.is_request %}
                        {{ transaction.converted_amount}} {{transaction.sender_currency_sign}}
                        {% else %}
                        {{ transaction.amount}} {{transaction.sender_currency_sign}}
                        {% endif %}
                    </td>
					<td>
						{% if transaction.is_request %}
						<!--  -->
						Request Payment {% if transaction.is_accepted %}
						<!--  -->
						(Accepted) {% elif transaction.is_rejected %}
                        (Rejected)
                        {% else %} (Pending) {% endif %}
						<!--  -->
						{% else %} Send Payment {% endif %}
					</td>
					<td>{{ transaction.timestamp|timesince }} ago</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="6" class="text-center">No transactions.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="tab-pane fade {% if current_tab == 'balance' %} show active {% endif %}" id="users_balance" role="tabpanel" aria-labelledby="users_balance-tab">
		<h5 class="mb-3">Users Balance ({{all_users|length}})</h5>
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th class="nowrap">#</th>
					<th class="nowrap">First Name</th>
					<th class="nowrap">Last Name</th>
					<th class="nowrap">Username</th>
					<th class="nowrap">Balance</th>
					<th class="nowrap">Joined</th>
					<th class="nowrap">Admin</th>
				</tr>
			</thead>
			<tbody>
				{% for each_user in all_users %}
				<tr>
					<th>{{ forloop.counter }}</th>
					<td>{{ each_user.first_name }}</td>
					<td>{{ each_user.last_name }}</td>
					<td>{{ each_user.username }}</td>
					<td>{{ each_user.get_currency_sign }}{{ each_user.balance|floatformat:2 }}</td>
					<td>{{ each_user.date_joined|timesince }} ago</td>
					<td>
						{% if each_user.username == request.user.username %}
						<span>(you)</span>
						{% else %}
						<form method="post" action="{% url 'admin_status_change_url' %}?tab=balance">
							{% csrf_token %}
							<input type="hidden" name="user_id" value="{{ each_user.id }}" />
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" name="is_admin" {% if each_user.is_superuser %} checked {% endif %} onchange="this.form.submit()" />
							</div>
						</form>

						{% endif %}
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="6" class="text-center">No Users.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="tab-pane fade {% if current_tab == 'create_user' %} show active {% endif %}" id="create_user" role="tabpanel" aria-labelledby="create_user-tab">
		<div class="row justify-content-center mt-5">
			<div class="col-md-7 col-lg-5">
				<div class="login-wrap p-4 p-md-5 bg-light shadow-sm rounded">
					<h3 class="text-center mb-4">Create Super User</h3>
					<form method="post" action="{% url 'create_admin' %}">
						{% csrf_token %}
						<div class="form-group mb-4 row g-3">
							<div class="col-md-6">
								<input type="text" class="form-control rounded-left" placeholder="First Name" name="first_name" />
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control rounded-left" placeholder="Last Name" name="last_name" />
							</div>
						</div>
						<div class="form-group mb-4">
							<input type="text" class="form-control rounded-left" placeholder="Username" name="username" required />
						</div>
						<div class="form-group mb-4">
							<input type="email" class="form-control rounded-left" placeholder="Email" name="email" required />
						</div>
						<div class="form-group mb-4">
							<input type="password" class="form-control rounded-left" placeholder="Password" name="password" required />
						</div>
                        <div class="form-group mb-4">
                            <select class="form-control rounded-left" name="currency" required>
                                <option value="">Select Currency</option>
                                <option value="USD">USD</option>
                                <option value="GBP">GBP</option>
                                <option value="EUR">EUR</option>
                            </select>
                        </div>
						<div class="form-group mb-4">
							<button type="submit" class="form-control btn btn-primary rounded submit px-3">Create</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
